body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.timetable table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #333;
}

thead th {
    background-color: #ccc;
    padding: 10px;
    font-weight: bold;
}

tbody td {
    padding: 15px;
    background-color: #f9f9f9;
}

.lunch-break {
    background-color: #888;
    color: white;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}


tbody tr:nth-child(even) td {
    background-color: #eaeaea;
}
